@import url("https://fonts.googleapis.com/css2?family=Alata&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;600;700&family=Lexend+Exa:wght@300&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Open+Sans&family=Outfit:wght@300;400&family=Overpass:wght@300;500&family=Poppins&family=Roboto:ital,wght@0,300;0,500;1,400&family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

/* ========= Home ========= */
.home-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 992px) {
  .home-wrapper {
    height: 90vh;
    background-image: url("../../assets/images/desktop/image-hero.jpg");
  }
}

.home-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}

/* ========= Main ========= */
main {
  max-width: 1200px;
  margin: 0 auto;
}

main .container {
  padding: 80px 25px 20px 25px;
}

/* ========= Leader ========= */
.section-leader {
  margin-bottom: 2rem;
}
@media (min-width: 922px) {
  .section-leader {
    margin-bottom: 5rem;
  }
}

/* ========= Footer ========= */
.footer {
  background-color: #000000;
}
